<header>
    <nav>
        <a href="">Mybrary</a>

        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            
            <li>
                <a href="/new">Add Author</a>
            </li>
        </ul>
    </nav>

</header>